.post-meta {
	display: inline-block;
	font-size: 1.3rem;
	line-height: 1.3;
	color: #9EABB3;
}

.posts > .post {
  padding-top: 0.5em;
  }

.post_thumb{
	float: left;
	padding-right: 5px;
}

.post > .front_entry{
		display: block;
}

img[alt$=">"] {
  float:right;
}

img[alt$="<"] {
  float:left;
}

img[alt$="<>"] {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    float: none!important;
}

.entry a {
text-decoration: underline;
}

a.footnote, a.footnoteRef { /* Pandoc, MultiMarkdown footnote links */
    font-size: small;
    vertical-align: text-top;
}

/* Meta stuff */
.meta {
    font-size: 13px;
    margin-left: 4px;
    margin-bottom: 4px;
    color: #999;
}
.meta a {
    color: #999;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.meta a:hover { color: #666 }
.meta .date,
.meta .tags,
.meta .history,
.meta .edit { padding-right: 10px }
.meta .date:before,
.meta .tags:before {
    color: #ccc;
    font: 1.1em FontAwesome;
    left: 0;
    margin-right: 5px;
}
.meta .history a:before,
.meta .edit a:before {
    color: #ccc;
    font: 1.1em FontAwesome;
    left: 0;
    margin-right: 5px;
}
.meta .date:before { content: "\f073" }
.meta .tags:before { content: "\f02c" }
.meta .history a:before { content: "\f1da" }
.meta .edit a:before { content: "\f044" }

#page-navigation {
    font-family: arial;
    width: 100%;
}
#page-navigation div { display: inline-block }
#page-navigation div.next { float: right }

#page-navigation div.previous a:before { font: 0.8em FontAwesome; content: "\f053\f053"; margin-right: 4px }
#page-navigation div.next a:after { font: 0.8em FontAwesome; content: "\f054\f054"; margin-left: 4px}

.pagination_s p {
    margin: 0;
    padding: 0;
}
.pagination_s {
		font-family: "Helvetica","Lucida Grande",sans-serif;
		font-weight: 300;
		font-size: 76%;
		background: #EFEFEF;
    margin: auto;
    border: 1px solid #ccc;
    /*border-radius*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 79px;
    height: auto;
    font-weight: bold;
    background: rgb(255,255,255);
    /*linear-gradient*/
    background: -webkit-gradient(linear,left top,left bottom,color-stop(rgba(255,255,255,1),0.01),color-stop(rgba(247,247,247,1),1));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 1%, rgba(247,247,247,1) 100%);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 1%, rgba(247,247,247,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 1%, rgba(247,247,247,1) 100%);
    background: linear-gradient(top, rgba(255,255,255,1) 1%, rgba(247,247,247,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,1)), color-stop(100%,rgba(247,247,247,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(247,247,247,1) 100%);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(247,247,247,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(247,247,247,1) 100%);
    background: linear-gradient(top, rgba(255,255,255,1) 1%,rgba(247,247,247,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 );
    /*box-shadow*/
    -webkit-box-shadow: 0px 1px 1px #ccc;
    -moz-box-shadow: 0px 1px 1px #ccc;
    box-shadow: 0px 1px 1px #ccc;
}

.pagination_s a,
.pagination_s strong {
    /*linear-gradient*/
    background: -webkit-gradient(linear,left top,left bottom,color-stop(rgba(255,255,255,1),0.01),color-stop(rgba(247,247,247,1),1));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 1%, rgba(247,247,247,1) 100%);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 1%, rgba(247,247,247,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 1%, rgba(247,247,247,1) 100%);
    background: linear-gradient(top, rgba(255,255,255,1) 1%, rgba(247,247,247,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,1)), color-stop(100%,rgba(247,247,247,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(247,247,247,1) 100%);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(247,247,247,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(247,247,247,1) 100%);
    background: linear-gradient(top, rgba(255,255,255,1) 1%,rgba(247,247,247,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 );
    display: inline-block;
    margin-right: -3px;
    margin-top: 0;
    padding: 10px 15px;
    text-decoration: none;
    border-right: 1px solid #ccc;
    color: #959190;
}
.switch {
    /*transform*/
		-moz-transform: scale(-1, 1);
		-webkit-transform: scale(-1, 1);
		-o-transform: scale(-1, 1);
		-ms-transform: scale(-1, 1);
		transform: scale(-1, 1);
}

.pagination_s a:last-child {
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-left: -6px;
    font-size: 80%;
    font-weight: 300;
    padding: 11px 15px;
}

.pagination_s a:last-child {
    padding: 11px 14px;
}

.pagination_s a:hover {
    /*box-shadow*/
    color: #000;
    background: rgb(229,229,229);
    /*linear-gradient*/
    background: -webkit-gradient(linear,left top,left bottom,color-stop(rgba(229,229,229,1),0),color-stop(rgba(255,255,255,1),0.99));
    background: -webkit-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(255,255,255,1) 99%);
    background: -moz-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(255,255,255,1) 99%);
    background: -o-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(255,255,255,1) 99%);
    background: linear-gradient(top, rgba(229,229,229,1) 0%, rgba(255,255,255,1) 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(99%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 99%);
    background: -moz-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 99%);
    background: -o-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 99%);
    background: linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 );
}

.pagination_s a:first-child {
    height: 10px;
    border-left: 0px solid #B3B3B3;
    border-right: 0px solid #ccc;
    background: rgb(255,255,255);
    /*linear-gradient*/
    background: -webkit-gradient(linear,left top,left bottom,color-stop(rgba(255,255,255,1),0.01),color-stop(rgba(247,247,247,1),1));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 1%, rgba(247,247,247,1) 100%);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 1%, rgba(247,247,247,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 1%, rgba(247,247,247,1) 100%);
    background: linear-gradient(top, rgba(255,255,255,1) 1%, rgba(247,247,247,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,1)), color-stop(100%,rgba(247,247,247,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(247,247,247,1) 100%);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(247,247,247,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(247,247,247,1) 100%);
    background: linear-gradient(top, rgba(255,255,255,1) 1%,rgba(247,247,247,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 );
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-left: 0px;
    border: 0;
}
.pagination_s a:hover {
    background: rgb(229,229,229);
    /*linear-gradient*/
    background: -webkit-gradient(linear,left top,left bottom,color-stop(rgba(229,229,229,1),0),color-stop(rgba(255,255,255,1),0.99));
    background: -webkit-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(255,255,255,1) 99%);
    background: -moz-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(255,255,255,1) 99%);
    background: -o-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(255,255,255,1) 99%);
    background: linear-gradient(top, rgba(229,229,229,1) 0%, rgba(255,255,255,1) 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(99%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 99%);
    background: -moz-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 99%);
    background: -o-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 99%);
    background: linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 );
}

.pagination_s  span:first-child {
    border-right: 1px solid #ccc;
    border-bottom-left-radius: 0px;
}

pagination-inactive {
		display: none;
	}

/* Instagram frontpage*/
.image-front{
	display: block;
}
.text-front{

}

.ig-thumb-front {
	width: 50%;
	height:auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: #c0c0c0;
	font-size: 64px;
}
