<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/custom.css" />
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/webmention.css" />
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
<link rel="alternate" title="{{ site.name }} - {{ site.description }}" type="application/json" href="{{ "/feed.json" | prepend: site.baseurl | prepend: site.url }}" />
<link rel="webmention" href="https://webmention.herokuapp.com/api/webmention" />
<link rel="token_endpoint" href="https://tokens.indieauth.com/token">
<link rel="authorization_endpoint" href="https://indieauth.com/auth">
<link rel="micropub" href="https://micropub-to-github-microblog.herokuapp.com/micropub/main">
<link href="https://frank.micro.blog" rel="me">
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

         <nav>
            <a href="{{ site.baseurl }}/">Blog</a>
            <a href="{{ site.baseurl }}/opml">OPML</a>
            <a href="{{ site.baseurl }}/about">About</a>
            <a href="{{ site.baseurl }}/blogroll">Blogroll</a>
            <a href="https://frank.micro.blog" />Micro.blog</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

{% if paginator.posts %}
    <!-- Pagination links -->
      <div class="pagination_s">
        <span>
          {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class=""><p class="switch">►</p></a>
          {% else %}
          <a href="" class="pagination-inactive"><p class="switch pagination-inactive">►</p></a>
          {% endif %}
        </span>
      {% if paginator.next_page %}
      <span>
        <a href="{{ paginator.next_page_path }}" class=""><p>►</p></a>
        {% else %}
        <a href="{{ paginator.next_page_path }}" class=""><p>►</p></a>
        {% endif %}
      </span>
      </div>
{% endif %}

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

  </body>
</html>
